.h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.imgWrapper {
    background-color: white;
    padding: 1rem 0;
    display: flex;
    min-height: 250px;
}

.img {
    margin: auto;
    width: 100%;
    height: auto;
}

.tagline {
    margin-top: 0;
    font-style: italic;
    font-size: 1rem;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fad018;
    border-radius: 8px 0 8px 0;
    cursor: pointer;
}
